*.vk filter=lfs diff=lfs merge=lfs -text
*.pk filter=lfs diff=lfs merge=lfs -text
*.r1cs filter=lfs diff=lfs merge=lfs -text
circuits/circuit_100.r1cs filter=lfs diff=lfs merge=lfs -text
circuits/circuit_1000.pk filter=lfs diff=lfs merge=lfs -text
circuits/circuit_1000.r1cs filter=lfs diff=lfs merge=lfs -text
circuits/circuit_1000.vk filter=lfs diff=lfs merge=lfs -text
circuits/circuit_10.pk filter=lfs diff=lfs merge=lfs -text
circuits/circuit_10.r1cs filter=lfs diff=lfs merge=lfs -text
circuits/circuit_10.vk filter=lfs diff=lfs merge=lfs -text
circuits/circuit_100.pk filter=lfs diff=lfs merge=lfs -text
circuits/Verifier_10.sol filter=lfs diff=lfs merge=lfs -text
circuits/Verifier_100.sol filter=lfs diff=lfs merge=lfs -text
circuits/Verifier_1000.sol filter=lfs diff=lfs merge=lfs -text
circuits/circuit_100.vk filter=lfs diff=lfs merge=lfs -text
