driver:
  chain-id: 31337
  address: "0x4826533B4897376654Bb4d4AD88B7faFD0C98528"
log-level: "debug"
log-mode: "pretty"
http-listen: ":8081"
secret-keys:
  - namespace: "symb"
    key-type: 0
    key-id: 15
    secret: "1000000000000000000"
  - namespace: "evm"
    key-type: 1
    key-id: 31337
    secret: "77814517325470205911140941194401928579557062014761831930645393041380819009408"
aggregator: true
signer: true
committer: true
storage-dir: ".data"
chains:
  - "http://127.0.0.1:8545"
