rpc_url: "http://127.0.0.1:8545"
master_address: "0x1f5fE7682E49c20289C20a4cFc8b45d5EB410690"
log_level: "debug"
log_mode: "pretty"
http_listen: ":8081"
secret_key: "1000000000000000000"
aggregator: true
signer: true
committer: true
storage_dir: ".data"
