---
name: Build
on:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - name: Checkout source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # pin@v5.5.0
        with:
          go-version: 1.24.3

      - name: Get detailed version info
        id: get_version
        run: |
          # Use git describe to get a version string like v1.0.0-1-gabcdef
          VERSION_INFO=$(git describe --tags --always --long --dirty)
          echo "Version Info: $VERSION_INFO"
          echo "APP_VERSION=$VERSION_INFO" >> $GITHUB_ENV

      - name: Build relay utils linux
        run: make build-relay-utils-linux
      - name: Upload artifact linux_amd64
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # pin@v4.6.2
        with:
          name: relay_utils_linux_amd64
          path: relay_utils_linux_amd64

      - name: Build relay utils darwin
        run: make build-relay-utils-darwin
      - name: Upload artifact darwin_arm64
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # pin@v4.6.2
        with:
          name: relay_utils_darwin_arm64
          path: relay_utils_darwin_arm64

      - name: Build relay sidecar linux
        run: make build-relay-sidecar-linux
      - name: Upload artifact relay_sidecar_linux_amd64
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # pin@v4.6.2
        with:
          name: relay_sidecar_linux_amd64
          path: relay_sidecar_linux_amd64

      - name: Build relay sidecar darwin
        run: make build-relay-sidecar-darwin
      - name: Upload artifact relay_sidecar_darwin_arm64
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # pin@v4.6.2
        with:
          name: relay_sidecar_darwin_arm64
          path: relay_sidecar_darwin_arm64