---
name: Release
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  tests:
    name: Tests
    uses: ./.github/workflows/tests.yaml
    secrets: inherit
  build:
    needs: 
      - tests
    name: Build
    uses: ./.github/workflows/build.yaml
    with:
      version: ${{ github.ref_name }}
    secrets: inherit
  release:
    name: Release
    needs: 
      - tests
      - build
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout source code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # pin@v4.3.0
        with:
          fetch-depth: 0

      - name: Get previous tag
        id: get_previous_tag
        run: |
          echo "tag=$(git describe --tags --abbrev=0 HEAD^)" >> "$GITHUB_OUTPUT"

      - name: Generate changelog
        id: changelog
        run: |
          echo "Generating changelog between ${{ steps.get_previous_tag.outputs.tag }} and ${{ github.ref_name }}"
          git log ${{ steps.get_previous_tag.outputs.tag }}..${{ github.ref_name }} --pretty=format:"- %s (%an)" > CHANGELOG.md
          cat CHANGELOG.md

      - name: Download relay utils artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # pin@v5.0.0
        with:
          pattern: relay_utils_*
          merge-multiple: true
      
      - name: Download relay sidecar artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # pin@v5.0.0
        with:
          pattern: relay_sidecar_*
          merge-multiple: true
      
      - name: Release
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836 # pin@v2.3.3
        with:
          draft: true
          body_path: CHANGELOG.md
          files: |
            relay_utils_linux_amd64
            relay_utils_linux_arm64
            relay_utils_darwin_arm64
            relay_sidecar_linux_amd64
            relay_sidecar_linux_arm64
            relay_sidecar_darwin_arm64